<!DOCTYPE HTML>
<html ng-app="store">
<head>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
</head>
<body ng-controller="StoreController as store">
  <input type="text" ng-model="name">
  <h2>Hello {{name}}!</h2>
  <p>I am {{4 + 6}}</p>
  <div ng-repeat="product in store.products">
    <div ng-hide="product.soldOut">
      <h1>{{product.name}}</h1>
      <h2>${{product.price}}</h2>
      <p>{{product.description}}</p>
      <button ng-show="store.product.canPurchase">Add to Cart</button>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script type="text/javascript" src="application.js"></script>
</body>
</html>
